<!DOCTYPE html>
<html ng-app="TheApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Contacts</title>
    <!-- styles -->
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body ng-controller="appCtrl">

<!--<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Contacts</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;
    </div>
</nav>-->

    <div class="container">
        <div class="page-header">
            <h1>Contacts</h1>
            <!--<p class="lead">run 'bower install' to install all dependencies.</p>-->
        </div>

        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <button ng-click='onCreate()' type="button" class="btn btn-default">Create New</button>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Contacts list</h3>
        </div>

        <div class="row">
            <!-- contact details -->
            <div class="col-sm-6 col-md-4">
                <!-- TODO: make separated directive -->
                <div ng-if="contact" class="panel panel-default">
                    <div class="panel-heading">
                        <span ng-if="contact._id">{{contact.getFullName()}}</span>
                        <span ng-if="!contact._id">New Contact</span>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="contactFName">*First Name</label>
                                <input ng-model="contact.firstName" required type="text" class="form-control" id="contactFName" placeholder="first name">
                            </div>
                            <div class="form-group">
                                <label for="contactLName">Last Name</label>
                                <input ng-model="contact.lastName" type="text" class="form-control" id="contactLName" placeholder="last name">
                            </div>
                            <div class="form-group">
                                <label for="contactEmail">Email address</label>
                                <!-- type="email" - angular will not bind it to model untill value is valid -->
                                <input ng-model="contact.email" type="text" class="form-control" id="contactEmail" placeholder="email">
                            </div>
                            <div class="form-group">
                                <label for="contactPhone">*Phone</label>
                                <input ng-model="contact.phone" type="text" required class="form-control" id="contactPhone" placeholder="phone number">
                            </div>

                            <span class="help-block">
                                * - required fields
                            </span>

                            <div class="alert alert-warning"
                                 role="alert"
                                 ng-if="notifications.length"
                                 ng-repeat="notification in notifications">{{notification}}</div>

                            <!-- existing contact -->
                            <button type="button" ng-if="contact._id" ng-click="onSubmit()" class="btn btn-default">Update</button>
                            <button type="button" ng-if="contact._id" ng-click="onDelete()" class="btn btn-default">Delete</button>
                            <!-- new contact -->
                            <button type="button" ng-if="!contact._id" ng-click="onSubmit()" class="btn btn-default">Add</button>

                            <button type="button" ng-click="onCancel()" class="btn btn-default">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- contacts list -->
            <div class="col-sm-6 col-md-8">
                <ul class="list-group">
                    <li ng-repeat="item in contacts track by item._id" ng-click="onEdit(item)" class="list-group-item clickable">
                        <span class="badge">{{item.phone}}</span>
                        {{item.getFullName()}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#settingsModal">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Settings
                </button>
            </p>
            <!--<p class="text-muted">run 'bower install' in 'client' directory to install all client dependencies.</p>
            <p class="text-muted">run 'npm install' in 'server' directory to install all server dependencies.</p>-->
        </div>
    </footer>

<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="onSettingsCancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="apiurl">API URL</label>
                    <input type="text"
                           class="form-control"
                           id="apiurl"
                           autofocus
                           ng-model="apiUrl"
                           placeholder="Enter URL of server endpoint">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onSettingsCancel()">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onSettingsSubmit()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <!-- scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="js/app/app.js"></script>
    <script src="js/app/appCtrl.js"></script>
    <script src="js/app/syncSvc.js"></script>

    <script src="js/utils.js"></script>
    <script src="js/appSettings.js"></script>
    <script src="js/Entities/validation.js"></script>
    <script src="js/Entities/contact.js"></script>

    <script src="js/BL/contactsCtrl.js"></script>

    <!-- TODO: remove on prod -->
    <!--<script src="js/testData.js"></script>-->
</body>
</html>