.clickable{cursor: pointer}

body > .container {
    padding: 0px 15px 45px;
}
.footer {
    position: fixed;
    padding-top: 13px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}